
<div class="parent"> 
    <div class="container" [ngClass]="isSignDivVisiable ? 'active' :'' " id="container">
        <div class="form-container sign-in">
            <form (ngSubmit)="onLogin()" [formGroup]="logInForm">
                <h1>Entre</h1>
                <label class="col-sm-12" for="email">Email</label>
                <input type="email" formControlName="email" [(ngModel)]="loginObj.email" placeholder="jose@email.com">
                <label class="col-sm-12" for="password">Senha</label>
                <input type="password" formControlName="password" [(ngModel)]="loginObj.password" placeholder="Senha">
                <button [disabled]="!logInForm.valid">Entrar</button>
            </form>
        </div>

        <div class="form-container sign-up" >
            <form (ngSubmit)="onRegister()" [formGroup]="signInForm">
                <h1>Faça a cotação</h1>
                <label class="col-sm-12" for="name">Nome</label>
                <input type="text" formControlName="name" [(ngModel)]="signUpObj.name" placeholder="Jose">
                <label class="col-sm-12" for="email">Email</label>
                <input type="email" formControlName="email" [(ngModel)]="signUpObj.email" placeholder="jose@email.com">
                <label class="col-sm-12" for="company">Empresa</label>
                <input type="password" formControlName="password"  [(ngModel)]="signUpObj.company" placeholder="Jose Software">
                <button [disabled]="!signInForm.valid">Solicitar Cotação</button>
            </form>
        </div>
        
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-right">
                    <h1>Novo aqui?</h1>
                    <p>Clique no botão abaixo para fazer sua cotação</p>
                    <button type="button" class="hidden" id="register" (click)="isSignDivVisiable = true">Solicitar Cotação</button>
                </div>
                <div class="toggle-panel toggle-left">
                    <h1>Bem-vindo de volta!</h1>
                    <p>Clique no botão abaixo para entrar com sua conta</p>
                    <button type="button" class="hidden" id="login" (click)="isSignDivVisiable = false">Entrar</button>
                </div>
                
            </div>
        </div>
    </div>
</div>
