
<div class="parent"> 
    <div class="container" [ngClass]="isSignDivVisiable ? 'active' :'' " id="container">
        <div class="form-container sign-in">
            <form (ngSubmit)="onLogin()" [formGroup]="loginForm">
                <h1>Entre</h1>
                <div>
                    <label for="email">Email</label>
                    <input type="email" formControlName="email" placeholder="jose@email.com">
                    <label for="password">Senha</label>
                    <input type="password" formControlName="password" placeholder="Digite sua Senha">
                </div>
                <button [disabled]="!loginForm.valid">Entrar</button>
            </form>
        </div>

        <div class="form-container sign-up" >
            <form (ngSubmit)="onSignUp()" [formGroup]="signUpForm">
                <h1>Crie sua Conta</h1>
                <label class="col-sm-12" for="name">Nome</label>
                <input type="text" formControlName="name" placeholder="Jose">
                <label class="col-sm-12" for="company">Empresa</label>
                <input type="text" formControlName="company" placeholder="Jose Software">
                <label class="col-sm-12" for="email">Email</label>
                <input type="email" formControlName="email" placeholder="jose@email.com">
                <label class="col-sm-12" for="password">Senha</label>
                <input type="password" formControlName="password" placeholder="Digite uma Senha">
                <button [disabled]="!signUpForm.valid">Criar Conta</button>
            </form>
        </div>
        
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-right">
                    <h1>Novo aqui?</h1>
                    <p>Clique no botão abaixo para fazer criar sua conta</p>
                    <button type="button" class="hidden" id="register" (click)="isSignDivVisiable = true">Criar Conta</button>
                </div>
                <div class="toggle-panel toggle-left">
                    <h1>Bem-vindo de volta!</h1>
                    <p>Clique no botão abaixo para entrar com sua conta</p>
                    <button type="button" class="hidden" id="login" (click)="isSignDivVisiable = false">Entrar</button>
                </div>
                
            </div>
        </div>
    </div>
</div>
